body {
  background: #eee;
}

header {
  margin: 0;
  padding: 16px 32px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  background-color: #ff7f50;
}

header h1 {
  display: inline-block;
  width: 50%;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-style: normal;
}
header .user {
  display: inline-block;
  width: 45%;
  text-align: right;
  font-size: clamp(0.88rem, 2vw, 1.2rem);
  color: white;
}
header button {
  display: inline-block;
  width: 2.5%;
  position: relative;
  top: 8px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  padding-left: 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s ease;
}
header button:hover {
  opacity: 80%;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #999999;
}
.Note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.Note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.Note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.Note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #ff7f50;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
.Note button:hover {
  opacity: 80%;
}
.Note button:active {
  opacity: 100%;
}

form.create {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create input,
form.create textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}
form.create button:hover {
  opacity: 80%;
}
form.create button:active {
  opacity: 100%;
}
